@mixin title($size: 1) {
    text-transform: uppercase;
    //font-family: $fontTitle;
    color: $color-main-medium;
    margin-bottom: rem(40);
    font-weight: 600;
    @if($size == 0) {
        font-weight: 200;
        font-size: rem(30);
        text-shadow: 0 0 30px $color-black;
        @include tablet {
            font-size: rem(40);
        }
        @include desktop {
            font-size: rem(55);
        }
        @include desktop-xl {
            font-size: rem(65);
        }
    }
    @if($size == 1) {
        font-weight: bold;
        font-size: rem(22);
        @include tablet {
            font-size: rem(26);
        }
        @include desktop {
            font-size: rem(32);
        }
    }
    @if($size == 2) {
        text-align: center;
        font-size: rem(18);
        @include tablet {
            font-size: rem(20);
        }
        @include desktop {
            font-size: rem(24);
        }
    }
}


@mixin text{
    margin-bottom: rem(15);
    a{
        color: $color-main;
        text-decoration: underline;
    }
}


@mixin styleBtn{
    display: inline-block;
    background-color: $color-main;
    padding-top: rem(10);
    padding-bottom: rem(10);
    padding-right: rem(16);
    padding-left: rem(16);
    text-decoration: none;
    letter-spacing: rem(2);
    text-transform: uppercase;
    font-size: rem(10);
    border-radius: rem(5);
    a{
        color: $color-white;
    }
}

@mixin popinFixed{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}