.popin{
    @include popinFixed;
    color: $color-txt;
    font-family: $fontDefault;
    .popin-wrapper{
        display: flex;
        align-items: flex-start;
        background-color: $color-white;
        border: 1px solid $color-black;
        border-radius: rem(5);
    }

    .popin-media{

    }

    .popin-img{
        height: rem(530);
        width: rem(300);
        object-fit: cover;
    }

    .popin-container{
        @include vertical-spacing-top;
        margin-left: rem(40);
        margin-right: rem(40);
    }

    .popin-summary{
        display: flex;
        align-items: center;
        border-bottom: 1px solid $color-grey-light;
        padding-bottom: rem(10);
        margin-bottom: rem(20);
    }

    .popin-sum{
        display: flex;
        align-items: center;
        margin-right: rem(40);
        &:first-child{
            .popin-sum-nb{
                background-color: $color-main;
                color: $color-white;
                border: 1px solid $color-main;
            }
        }
    }

    .popin-sum-nb{
        margin-right: rem(7);
        border: 1px solid $color-grey-dark;
        background: $color-grey-dark;
        padding-right: rem(8);
        padding-left: rem(8);
        padding-top: rem(3);
        padding-bottom: rem(3);
        border-radius: rem(5);
        font-size: rem(13);
    }

    .popin-sum3{
    }

    .form-situation{
        color: $color-grey-light;
        font-size: rem(10);
        margin-bottom: rem(10);
    }

    .form-title{
        text-transform: capitalize;
        margin-bottom: rem(20);
    }

    .form-step1{

    }

    .form-radio-container{
        display: flex;
        align-items: center;

        .form-radio-components{
            margin-right: rem(10);
            input{
                margin-right: 0;
            }
        }
    }

    .form-neighbour{
        display: flex;
        align-items: center;
        margin-bottom: rem(10);
        margin-top: rem(10);
        .form-group:first-child{
            margin-right: rem(30);
        }
        .form-group:nth-child(2){
            margin-right: rem(30);
        }
    }

    .form-group{
        margin-bottom: rem(20);
    }

    .form-label-container{
        margin-bottom: rem(5);
    }

    .form-control{
        padding: rem(5);
        border: 1px solid $color-grey-light;
        border-radius: rem(5);
    }

    ::placeholder{
        color: $color-grey-light;
        font-size: rem(10);
        font-style: italic;
    }

    .form-send-container{
        //text-align: right;
    }

    .form-send{
        @include resetBtn;
        @include styleBtn;
        color: $color-white;
    }



    .popin-result{
        border-top: rem(1) solid $color-grey-light;
        margin-top: rem(30);
        color: $color-main-medium;
        text-align: center;
        border-radius: rem(5);
    }
}