//color site
$color-main: #0C75FF;
$color-main-medium: #015b90;
$color-main-dark: #252e37;




//color generic
$color-black: black;
$color-white: white;
$color-grey: grey;
$color-grey-light: #BBB9B9;
$color-grey-dark: #E5E5E5;

//Spé
$color-txt: #060D79;

//Fonts
$fontDefault: 'Mate', sans-serif;
//$fontTitle: 'Montserrat', sans-serif;
